In [ ]:
import pandas as pd
import numpy as np
ed  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/eng_grad_emp_salary/training_set_label.csv" )

In [ ]:
ed.head()

       ID Gender         DOB  ...  nueroticism openess_to_experience  Salary
0  604399      f  1990-10-22  ...      0.14590                0.2889  445000
1  988334      m  1990-05-15  ...      0.52620               -0.2859  110000
2  301647      m  1989-08-21  ...     -0.29020               -0.2875  255000
3  582313      m  1991-05-04  ...      0.27270                0.4805  420000
4  339001      f  1990-10-30  ...      0.06223                0.1864  200000

[5 rows x 34 columns]

In [ ]:
ed.Degree.value_counts()

B.Tech/B.E.      2757
MCA               200
M.Tech./M.E.       40
M.Sc. (Tech.)       1
Name: Degree, dtype: int64

In [ ]:
ed=ed[['Gender','10percentage','12graduation','12percentage','CollegeTier','Degree','collegeGPA','CollegeCityTier','GraduationYear','English',	'Logical',	'Quant',	'Domain','ComputerProgramming',	'ElectronicsAndSemicon',	'ComputerScience',	'MechanicalEngg',	'ElectricalEngg',	'TelecomEngg',	'CivilEngg',	'conscientiousness',	'agreeableness',	'extraversion',	'nueroticism',	'openess_to_experience',	'Salary']]

In [ ]:
ed['Gender']=ed['Gender'].apply(lambda x: 1 if x=='m' else 0)
ed=pd.get_dummies(ed,columns=['Degree'])
ed.head()

   Gender  10percentage  ...  Degree_M.Tech./M.E.  Degree_MCA
0       0         87.80  ...                    0           0
1       1         57.00  ...                    0           0
2       1         77.33  ...                    0           0
3       1         84.30  ...                    0           0
4       0         82.00  ...                    0           0

[5 rows x 29 columns]

In [ ]:
ed.isnull().sum()

Gender                   0
10percentage             0
12graduation             0
12percentage             0
CollegeTier              0
collegeGPA               0
CollegeCityTier          0
GraduationYear           0
English                  0
Logical                  0
Quant                    0
Domain                   0
ComputerProgramming      0
ElectronicsAndSemicon    0
ComputerScience          0
MechanicalEngg           0
ElectricalEngg           0
TelecomEngg              0
CivilEngg                0
conscientiousness        0
agreeableness            0
extraversion             0
nueroticism              0
openess_to_experience    0
Salary                   0
Degree_B.Tech/B.E.       0
Degree_M.Sc. (Tech.)     0
Degree_M.Tech./M.E.      0
Degree_MCA               0
dtype: int64

In [ ]:
ed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2998 entries, 0 to 2997
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gender                 2998 non-null   int64
 1   10percentage           2998 non-null   float64
 2   12graduation           2998 non-null   int64
 3   12percentage           2998 non-null   float64
 4   CollegeTier            2998 non-null   int64
 5   collegeGPA             2998 non-null   float64
 6   CollegeCityTier        2998 non-null   int64
 7   GraduationYear         2998 non-null   int64
 8   English                2998 non-null   int64
 9   Logical                2998 non-null   int64
 10  Quant                  2998 non-null   int64
 11  Domain                 2998 non-null   float64
 12  ComputerProgramming    2998 non-null   int64
 13  ElectronicsAndSemicon  2998 non-null   int64
 14  ComputerScience        2998 non-null   int64
 15  MechanicalEngg         2998 non-null   int64
 16  ElectricalEngg         2998 non-null   int64
 17  TelecomEngg            2998 non-null   int64
 18  CivilEngg              2998 non-null   int64
 19  conscientiousness      2998 non-null   float64
 20  agreeableness          2998 non-null   float64
 21  extraversion           2998 non-null   float64
 22  nueroticism            2998 non-null   float64
 23  openess_to_experience  2998 non-null   float64
 24  Salary                 2998 non-null   int64
 25  Degree_B.Tech/B.E.     2998 non-null   uint8
 26  Degree_M.Sc. (Tech.)   2998 non-null   uint8
 27  Degree_M.Tech./M.E.    2998 non-null   uint8
 28  Degree_MCA             2998 non-null   uint8
dtypes: float64(9), int64(16), uint8(4)
memory usage: 597.4 KB

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
x=ed.drop('Salary',axis=1)
y=ed.Salary

In [ ]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.1,random_state=562)

In [ ]:
Model=LinearRegression()
Model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
pred=Model.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_test,pred))

135361.93729588029

In [ ]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/eng_grad_emp_salary/testing_set_label.csv')

In [ ]:
test_data.head()

       ID Gender         DOB  ...  extraversion nueroticism  openess_to_experience
0  239903      m  1989-09-25  ...       -2.0856      2.0599                -0.2875
1  948661      m  1991-03-07  ...        0.6248     -0.1076                 0.6721
2  390079      m  1991-02-17  ...       -0.3803      0.6498                 0.6603
3  580714      f  1991-09-24  ...        0.0100      0.3995                -0.4776
4  335896      m  1991-08-17  ...       -0.0537      0.0035                -0.2875

[5 rows x 33 columns]

In [ ]:
test_data=test_data[['Gender','10percentage','12graduation','12percentage','CollegeTier','Degree','collegeGPA','CollegeCityTier','GraduationYear','English',	'Logical',	'Quant',	'Domain','ComputerProgramming',	'ElectronicsAndSemicon',	'ComputerScience',	'MechanicalEngg',	'ElectricalEngg',	'TelecomEngg',	'CivilEngg',	'conscientiousness',	'agreeableness',	'extraversion',	'nueroticism',	'openess_to_experience']]

In [ ]:
test_data['Gender']=test_data['Gender'].apply(lambda x: 1 if x=='m' else 0)
test_data=pd.get_dummies(test_data,columns=['Degree'])
test_data.head()

   Gender  10percentage  ...  Degree_M.Tech./M.E.  Degree_MCA
0       1          92.8  ...                    0           0
1       1          75.0  ...                    0           0
2       1          79.2  ...                    1           0
3       0          83.2  ...                    0           0
4       1          85.4  ...                    0           0

[5 rows x 28 columns]

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gender                 1000 non-null   int64
 1   10percentage           1000 non-null   float64
 2   12graduation           1000 non-null   int64
 3   12percentage           1000 non-null   float64
 4   CollegeTier            1000 non-null   int64
 5   collegeGPA             1000 non-null   float64
 6   CollegeCityTier        1000 non-null   int64
 7   GraduationYear         1000 non-null   int64
 8   English                1000 non-null   int64
 9   Logical                1000 non-null   int64
 10  Quant                  1000 non-null   int64
 11  Domain                 1000 non-null   float64
 12  ComputerProgramming    1000 non-null   int64
 13  ElectronicsAndSemicon  1000 non-null   int64
 14  ComputerScience        1000 non-null   int64
 15  MechanicalEngg         1000 non-null   int64
 16  ElectricalEngg         1000 non-null   int64
 17  TelecomEngg            1000 non-null   int64
 18  CivilEngg              1000 non-null   int64
 19  conscientiousness      1000 non-null   float64
 20  agreeableness          1000 non-null   float64
 21  extraversion           1000 non-null   float64
 22  nueroticism            1000 non-null   float64
 23  openess_to_experience  1000 non-null   float64
 24  Degree_B.Tech/B.E.     1000 non-null   uint8
 25  Degree_M.Sc. (Tech.)   1000 non-null   uint8
 26  Degree_M.Tech./M.E.    1000 non-null   uint8
 27  Degree_MCA             1000 non-null   uint8
dtypes: float64(9), int64(15), uint8(4)
memory usage: 191.5 KB

In [ ]:
test_data.isnull().sum()

Gender                   0
10percentage             0
12graduation             0
12percentage             0
CollegeTier              0
collegeGPA               0
CollegeCityTier          0
GraduationYear           0
English                  0
Logical                  0
Quant                    0
Domain                   0
ComputerProgramming      0
ElectronicsAndSemicon    0
ComputerScience          0
MechanicalEngg           0
ElectricalEngg           0
TelecomEngg              0
CivilEngg                0
conscientiousness        0
agreeableness            0
extraversion             0
nueroticism              0
openess_to_experience    0
Degree_B.Tech/B.E.       0
Degree_M.Sc. (Tech.)     0
Degree_M.Tech./M.E.      0
Degree_MCA               0
dtype: int64

In [ ]:
salary=Model.predict(test_data)

In [ ]:
res = pd.DataFrame(salary)
res.index = test_data.index # its important for comparison
res.columns = ["salary"]

# To download the csv file locally
from google.colab import files
res.to_csv('prediction_results_HP.csv')         
files.download('prediction_results_HP.csv')